{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href={% static 'css/jquery-ui.min.css' %}>
        <link rel="stylesheet" href={% static 'css/jquery-ui.theme.t min.css' %}>
        <link rel="stylesheet" href={% static 'css/jquery-ui.structure.min.css' %}>
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'css/bootstrap.css.map' %}>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="js/jquery-1.12.0.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src={% static "js/bootstrap.js" %}></script>
        <script src={% static "js/bootstrap-datetimepicker.min.js" %}></script>
        <script src={% static "js/bootstrap-datepicker.js" %}></script>
        <script src={% static "js/validator.min.js" %} ></script>
		<title>
		Scrapper
		</title>
	</head>
	<body>
		<div class="container">
		<h1 class="text-center">Scraper</h2>
		<hr>
		</div>
		<div class="container" style="width: 60%; margin: 0 auto;text-align:center;border:1px double #e0e0d1;">
			<input type="text" id="urlvalue" placeholder=" Enter Url" name="url" style="width:90%;height:35px;margin-top:5%"/>
			<button class="btn btn-default" type="button"  id="btn"  ><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;</button>
			<br>
			<hr>
		    <img style="display:none;" id="loading_circle" src='{% static "images/gears.svg" %}'/>
		    <a class="title" style="word-warp:break-word;color:black;font-size:20px;align:left;"></a>
		    <br>
		    <p class="description"></p><br>
		    <div style="width: 100%; margin:0px auto;width: 88%;" id="main">
		    </div>
		    <br>
		    <a class="source" ></a>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            $("#post-form").on('submit', function(){
                console.log("form submitted!")
                send_url();
            });
            $("#urlvalue").on('focus', function(){
                $("span").removeClass("glyphicon glyphicon-chevron-down").addClass("glyphicon glyphicon-chevron-right")
            });
            $("#btn").click(function(){
                $("span").removeClass("glyphicon glyphicon-chevron-right").addClass("glyphicon glyphicon-chevron-down")
                $('.title').empty()
                $('#main').empty()
                $('.source').empty()
                $("a").empty()
                $('.description').empty()
                $("#loading_circle").show()
                $.ajax({
                    url: "/scrap/", // the endpoint
                    type: "POST", // http method
                    data: {
					    csrfmiddlewaretoken: "{{ csrf_token }}",
				        url: $('#urlvalue').val(), 
					     },
                    success : function(json) {
                        $("#loading_circle").hide()
                        json_obj = JSON.parse(json)
                        $('.title').text(json_obj["title"])
                        $(".title").attr("href", json_obj["url"])
                        x = json_obj["image_list"]
                        for(var i=0; i<x.length; i++){
                            $("#main").append('<img class="img" src="'+ x[i] +'" style="height:100px;width:100px;margin: 15px 15px 15px 15px;">')
                        }
                        $('.source').text(json_obj["source"])
                        $(".source").attr("href", json_obj["source_link"])
                        $('.description').text(json_obj['description'])
                       
                        
                    }
                });
            });
            
            
        </script>    
	</body>

</html>
