{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href={% static 'css/jquery-ui.min.css' %}>
        <link rel="stylesheet" href={% static 'css/jquery-ui.theme.t min.css' %}>
        <link rel="stylesheet" href={% static 'css/jquery-ui.structure.min.css' %}>
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'css/bootstrap.css.map' %}>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="js/jquery-1.12.0.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src={% static "js/bootstrap.js" %}></script>
        <script src={% static "js/bootstrap-datetimepicker.min.js" %}></script>
        <script src={% static "js/bootstrap-datepicker.js" %}></script>
        <script src={% static "js/validator.min.js" %} ></script>
		<title>
		yellow Page Scrapper
		</title>
	</head>
	<body>
		<div class="container">
		    <h1 class="text-center">Yelloe Page Scrapper</h2>
		    <hr>
		</div>
		<div class="container" style="width: 60%; margin: 0 auto;text-align:center;border:1px double #e0e0d1;">
      <form method ="POST" action="" >{% csrf_token %}
			     <input type="text" id="urlvalue" placeholder=" Enter a valid yellow page url" name="url" style="width:90%;height:35px;margin-top:5%"/>
			     <button class="btn btn-default" type="submit"  id="btn" action="submit"  ><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;</button>
      </form>
      <br>
    </div>
  </body>
  </html>
